@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* body stuff  */
body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
}
body * {
  font-family: "Poppins";
}

/* header stuff  */
header {
  text-align: center;
  background: #e7e7e7;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
header img {
  max-width: 60px;
  transform: rotate(-10deg);
  cursor: pointer;
}
header h1 {
  margin: 0;
  font-size: 2em;
  padding-top: 25px;
  margin-left: 15px;
  color: #777;
  transform: rotate(2deg);
}

/* filter stuff  */
.filter {
  min-width: 300px;
  margin: 1rem;
  text-align: right;
}
.filter button {
  display: inline-block;
  margin-left: 10px;
  background: #fff;
  border: 2px solid #555;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 1em;
}
.new-task-form {
  background: #e7e7e7;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* form stuff  */
.filter-form {
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}
button {
  background: #ffd859;
  border: 0;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
}
form input {
  border: 0;
  padding: 10px;
  border-radius: 6px;
  color: #555;
  font-size: 1em;
}
/* authentication stuff  */
.authentication {
  min-width: 300px;
  margin: 1rem 0.625rem;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
}

/* task stuff  */
.task-list {
  min-width: 300px;
  margin: 1rem;
}
.task {
  padding: 6px 20px;
  background: #fff;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task h3,
.task .icons {
  display: inline-block;
}
.task .icons {
  text-align: right;
}
.task i {
  font-size: 1.4em;
  margin-left: 6px;
  cursor: pointer;
  color: #bbb;
}
.task i.active {
  color: #ff005d;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .logout {
  margin-left: 1rem;
}

.delete-account {
  background: #ff005d;
  color: #fff;
}

/* form validation stuff  */
.error-message {
  text-align: start;
  color: rgb(220 38 38);
  position: relative;
  top: 0;
  left: 0;
}
.form-container {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.v-input {
  border: 1px solid #555;
  margin-bottom: 15px;
  width: 96%;
}
.login-btn {
  width: 100%;
  margin-bottom: 15px;
}
span {
  font-weight: 700;
  color: #ffd859;
  cursor: pointer;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  width: 90%;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    background: gray;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
}
.privacy-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.privacy-container ol {
  max-width: 640px;
  padding-left: 20px;
}
/* tablet  */
@media (min-width: 673px) {
  .task-list {
    max-width: 640px;
    margin: 10px auto;
  }
  .filter {
    max-width: 640px;
    margin: 10px auto;
  }
  .authentication {
    max-width: 640px;
    margin: 10px auto;
  }
}
